button,
.newCase {
  background: var(--backgroud-red-hero);
  color: #fff;
  border: 0;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 1.2rem;
  margin-top: 1rem;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}
